body{
    margin: 0;
}
#title-nav {
    background-color:  #CC0066;
    color: black;
    padding: 10px;
    width: 100%;
    text-align: center;
}
#title-nav ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}
#title-nav a{
    color: #000;
    text-decoration: none;
    padding: 10px;
}
#title-nav a:hover{
    background-color: #f0f8ff;
}
img{
    position: fixed;left: auto;
    padding: 40px;
    box-sizing: border-box;
    display: flex;
}
.profile{
    display: flex;
}

